{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'website/styles/base.css' %}">

    <title>Challenge scheduler</title>
  </head>
  <body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-8 mx-auto header">
                    <div id="header_block">
                        {% block header %}
                        <nav class="navbar navbar-dark bg-primary navbar-expand-md">
                            <a class="navbar-brand" href="#">Challenge Scheduler</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Main menu">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="main_menu">
                                <ul class="navbar-nav w-100">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'home' %}">Start</a>
                                    </li>

                                    {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'challenge-list' %}">Challenges</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'challenge-full-edit' %}">New challenge</a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <ul class="navbar-nav">
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account-settings' %}">Settings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account-logout' %}">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account-register' %}">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'account-login' %}">Login</a>
                                    </li>
                                {% endif %}
                                </ul>
                            </div>
                        </nav>
                        Challenge Scheduler
                        {% endblock header %}
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div id="main_block">
                        {% block main %}
                        {% endblock main %}
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div id="footer_block">
                        {% block footer %}
                        Made with love by idlecode
                        {% endblock footer %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" crossorigin="anonymous"></script>
    <script language="JavaScript">
        $('.datainput').datepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            maxViewMode: 2,
            todayBtn: "linked",
            daysOfWeekHighlighted: "0,6",
            todayHighlight: true,
            //startDate: "{{ today }}",
        });
    </script>
  </body>
</html>
