body {
    background-color: #66ccff;
}

#header_block {
    background-color: #00aaff;
}

#main_block {
    background-color: #fff2e6;
    padding: 2em;
}

#footer_block {
    background-color: #00B300;
}
